.post-list > div {
  display: flex;
  margin-bottom: 24px;
}

.post-list > div > div {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-list > div > div > img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}

.post-list > div > div > div:nth-child(1) {
  font-weight: bold;
}
