.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 24px;
}

.app-header > .content {
  display: flex;
  align-items: center;
}
