a {
  color: black;
  text-decoration: none;
}

img {
  display: block;
}

a.active {
  font-weight: bold;
}

nav {
  display: flex;
  gap: 24px;
}

nav > a {
  display: block;
}

input[type='text'],
input[type='password'],
textarea {
  border: 1px solid #eaeaea;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 16px;
  min-width: 300px;
}

input[type='file'] {
  margin-bottom: 16px;
}

button {
  border: none;
  outline: none;
  background: #ededed;
  padding: 6px 16px;
  font-size: 14px;
  border-radius: 5px;
  color: #666;
  cursor: pointer;
  margin-bottom: 16px;
}

button:hover {
  color: #000;
}

button:active {
  opacity: 0.8;
}
